/* Estilos NavBar*/
.navegacion{
    background-color: rgb(124, 89, 57);
}
.nav{
    background-color: rgb(202, 127, 56);
    border-radius: 20px;
}
.fondo{
    background-color: rgb(202, 127, 56);
    
}
.colorlink{
    color: azure;
}

/*Estilos Main*/




/*Estilos Footer*/